[submodule "external/umac"]
	url = https://github.com/evansm7/umac
	path = external/umac
[submodule "external/pico_fatfs"]
	path = external/pico_fatfs
	url = https://github.com/elehobica/pico_fatfs.git
